
/*Selectors*/
body,div,h1,h2,form,input,p
{
    margin: 0;/*margin:it 's for move an element.
    but this code means have no movements
     and means you element meant to be in center of your page*/
    padding: 0;/*padding is like margin but it 's most used for tex
    and means for inner space but margin is for outer space.so this code means have
     no inner space then your element diraction is on center of you page*/
    border: none;/*have No border*/
    outline: none;/*have no line*/
}
/*Selector body means: tag body*/
body
{
    background: slategray;/*backcolor*/
    color: black;/*forcolor*/
    font-family: Tahoma;/*type of font*/
}
/*Selector p means: tag p*/
p
{
    font-size: 24px;/*size of your text*/
    margin-bottom: 10px;/*outer space of bottom diraction*/
}
/*selector id warp for tag div*/
#wrap
{
    width: 530px;/*width of your div*/
    margin: 20px auto 0;/*outer space in diracton top & bottom 20px
    diracton left auto diracton right 0*/
   
}
/*selector:tag h1*/
h1
{
    margin-bottom: 20px;/*outer space of diracton bottom*/
    text-align: center;/*it 's the palce for your text and in
    this code it 's choose to be center*/
    font-size: 35px;/*size of your text*/
    font-family: Tahoma;/*type of font*/
    color: white;/*fore color*/
}
/*selector:id form-wrap for tag div*/
#form-wrap
{
    
    overflow: hidden;/*it 's like we turn on height so that we can size
    height and the height performance/work out in page*/
    height: 490px;/*height of div*/
    position: relative;/*means that position of this div
    related to it father*/
    top: 0px;/*when we use positon we must use top/bottom/left/right
    for move our element like margin and padding*/
   
}
/*selector:tag form*/
form
{
    background: white;
    overflow: hidden;
    height: 900px;
    width: 400px;
    margin: 0px auto;
    padding: 20px;
    border: 1px solid white;/*it 's a line around of your element
    1px means Thickness, solid means type of line and white is the color :/*/
    border-right: 3px;/*selector:tag form*/
    transition: all is ease-in-out .3s;/*  https://www.w3schools.com/css/css3_transitions.asp
    if yoou want to know it paste it in brower!   */
}
/*selector:tag label*/
label
{
   margin: 11px 20px 0 0; 
   font-size: 15px;
   color: black;
   text-transform: uppercase;/*changing letters to uppercase like:DOLL*/
}
/*said it before*/
input[type=text],input[type=password]
{
    font: 14px normal uppercase, arial, serif;/**/
    color: black;
    background: none;/*means no backColor*/
    width: 380px;
    height: 37px;
    padding: 0px 10px;
    margin: 0 0 10px 0;
    border: 2px dotted steelblue;
    border-radius: 5px;/*can Rounding yor border means your element have no Sharp corner!*/
}

/*focus means Applies while an element
 has the focus (accepts keyboard or mouse events or other things).*/
input[type=text]:focus
{
    background: white;
    
}
/*focus means Applies while an element
 has the focus (accepts keyboard or mouse events or other things).*/
input[type=password]:focus
{
    background: white;
    
}
/*is 's like input example but the type of this is differnt*/
#form-wrap input[type=submit]
{
    position: relative;
    margin-top: 5px;
    border: 9px silver double;
    font-family: tahoma;
    font-size: 24px;
    color: cadetblue;
    width: 100%;
    text-align: center;
    opacity: 0;/*Opacity of an element's text, where 1 is opaque and 0 is entirely transparent.*/
    background: none;
    cursor: pointer;/*shape of your mouse*/
    border-radius: 3px;
    transition: opacity 0.3s ease-in-out 0.5s;
}
/*selector id for div and hove means the time when mous is on it!*/
#form-wrap:hover input[type=submit]/*tag input and this [] means you write like this
:tag name [the tag attrebuit] and this code work out for tag input and if the input type is text*/
{
    margin-top: 10px;
    opacity: 1;
    border: 5px grey double;
    transition: opacity 0.5s ease-in-out 1s;
}
